<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div id="app">
      <h1>Auteur</h1>
      <p>Prénom: {{ author.firstName }}</p>
      <p>Nom: {{ author.lastName }}</p>
      <p>Nom complet: {{ fullName }} / {{ reverseFullname }}</p>
      <p>A publié un livre:
        <span>{{ author.books.length > 0 ? 'Oui': 'Non' }}</span>
      </p>
      <p>Avec un computed property:</p>
      <p>A publié un livre:
        <span>{{ publishedBooks }}</span>
      </p>
      <p>
        Vue sait que <strong>this.publishedBooks</strong> dépend de <strong>this.author.books</strong>, 
        il mettra donc à jour toutes les liaisons qui dépendent de this.publishedBooks lorsque this.author.books changera.
      </p>
      
      <p>Date de la fiche :{{ now }}</p>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>