<template>
  <button class="btn text-nowrap" :class="[`btn-${variant}`, `btn-${size}`]">
    <i v-if="iconLeft" class="fa-solid me-1" :class="'fa-' + iconLeft" /><slot /><i
      v-if="iconRight"
      class="fa-solid ms-1"
      :class="'fa-' + iconRight"
    />
  </button>
</template>

<script>
export default {
  props: {
    iconLeft: {
      type: String,
      default: ''
    },
    iconRight: {
      type: String,
      default: ''
    },
    variant: {
      type: String,
      default: 'primary'
    },
    size: {
      type: String,
      default: 'md'
    }
  }
}
</script>

<style lang="scss" scoped></style>
