<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div id="app">
      <h1 class="mb-4">Binding de classes et de styles</h1>
      <h2>sytaxe 1: on peut binder un objet sur les styles ou les classes</h2>
      <pre>
:style="{
  'propriété': valeur,
  'autrepropriété': valeur
}"
:class="{
  'online': server.online,
  'autrevaleur': true
}"
      </pre>
      <h2>sytaxe 2: on peut binder une expression</h2>
      <pre>
:style="`background: ${server.background}; color: ${server.color}`"
:class="`${server.name === 'Prometheus' || server.name === 'Mars' ? 'important':''}`"
      </pre>
      <h2>syntaxe tableau : on peut mixer plusieurs méthode dans un tableau</h2>
      <pre>
:class="[
  server.name === 'Prometheus' || server.name === 'Mars' ? 'important':'',
  server.online ? 'online' : '',
  'autreclass'
]
      </pre>

      <p>les classes dynamiques s'ajoutent aux autres classes de l'elément auquelles elles sont appliquées</p>

      <ul class="list-group">
        <li 
          v-for="server in servers"
          :key="server.id"
          class="list-group-item fw-bold"
          :title="server.name"
          :style="{
            'background-color': server.background,
            'color': server.color,
          }"
          :class="{
            // 'nom de classe' : boolean,
            'fst-italic': server.online,
            'border-danger': server.name === 'Prometheus' || server.name === 'Mars'
          }"
          >{{ server.name }}</li>
      </ul>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>