<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma fiche produit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
</head>
<body>
  <div id="app" class="container py-5">
    <h1 class="h2 mb-4 border-bottom pb-2">Ma fiche produit</h1>

    <main>
      <section>
        <article class="card shadow border-2" :class="{ 'border-success-subtle': paidAmount >= priceHT, 'border-danger-subtle': paidAmount < priceHT  }">
          <div class="card-body">
            <h2 class="h4 text-primary">{{name}}</h2>
            <div class="mb-1" v-html="description"></div>
            <div>Tarif HT: {{ priceHT.toFixed(2) }} € HT - payé : {{ paidAmount.toFixed(2) }} € - <strong>Reste Dû : {{ restDue }}</strong></div>
            <div>Acheté  par {{ fullName }}, le: {{ dateFormated }}, par <em>{{ clientFullName }}</em></div>
          </div>
        </article>
      </section>
    </main>
  </div>
  
  
  <!-- importmaps pour vue -->
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <!-- notre script -->
  <script type="module" src="js/app.js"></script>
</body>
</html>