<template>
  <div class="home">
    <!-- titre + bouton -->
    <div class="d-flex align-items-baseline justify-content-between border-bottom mb-4">
      <h1 class="mb-4"><i class="fas fa-angle-down me-2" />Accueil</h1>
      <button class="btn btn-sm btn-primary ms-2 text-nowrap">
        <i class="fas fa-circle-plus" /> Ajouter une facture
      </button>
    </div>
    <!-- ./titre + bouton -->

    <p v-if="!bills || !bills.length" class="text-primary my-5">Aucune facture pour l'instant.</p>
    <!-- tableau des factures -->
    <table v-else class="table my-5 table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Client</th>
          <th scope="col" class="text-end">tarif HT</th>
          <th scope="col" class="text-end">tarif TTC</th>
          <th scope="col" class="text-end">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="bill in bills" :key="bill.id">
          <td>{{ bill.id }}</td>
          <td>{{ bill.date }}</td>
          <td>{{ bill.description }}</td>
          <td>
            {{ bill.client.firstName }} {{ bill.client.lastName }} ({{ bill.client.companyName }})
          </td>
          <td class="text-end">{{ bill.totalHT.toFixed(2) }} € HT</td>
          <td class="text-end">{{ bill.totalTTC.toFixed(2) }} € TTC</td>
          <td class="d-flex gap-1 justify-content-end">
            <button class="btn btn-sm btn-outline-danger text-nowrap">
              <i class="fa-solid fa-trash" /> Supprimer
            </button>
            <button class="btn btn-sm btn-outline-primary ms-2 text-nowrap">
              <i class="fa-solid fa-pen" /> Éditer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ./tableau des factures -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      bills: [
        {
          id: 1,
          billnum: 209345600,
          description: 'Création de site internet et hébergement',
          date: '08/03/2023',
          client: {
            idclient: 1,
            firstName: 'Marc',
            lastName: 'Scout',
            companyName: 'Lumon Industries'
          },
          prestations: [
            {
              description: 'Etude graphique UX',
              qty: 2,
              price: 450.0
            },
            {
              description: 'Création d’un site Wordpress',
              qty: 5,
              price: 450.0
            },
            {
              description: 'Hébergement annuel',
              qty: 1,
              price: 250.0
            }
          ],
          discount: 0.0,
          paid: 0.0,
          totalHT: 3400,
          tva: 20,
          totalTTC: 4080
        },
        {
          id: 2,
          billnum: 209345601,
          description: 'Prestation de formation',
          date: '15/03/2023',
          client: {
            idclient: 2,
            firstName: 'Harry',
            lastName: 'Potter',
            companyName: 'Poudlard & Co.'
          },
          prestations: [
            {
              description: 'Apprentissage du maniement de la bagette',
              qty: 1,
              price: 450.0
            },
            {
              description: 'Permis de balais',
              qty: 2,
              price: 450.0
            },
            {
              description: 'Leçon de sort d’abondance',
              qty: 2,
              price: 450.0
            }
          ],
          discount: 0.0,
          paid: 0.0,
          totalHT: 2250,
          tva: 20,
          totalTTC: 2700
        },
        {
          id: 3,
          billnum: 20945321,
          description: 'Création de site internet et hébergement',
          date: '31/03/2023',
          client: {
            idclient: 1,
            firstName: 'Luc',
            lastName: 'Skywalker',
            companyName: 'Ordre des Jedi'
          },
          prestations: [
            {
              description: 'Etude graphique UX',
              qty: 2,
              price: 450.0
            },
            {
              description: 'Création d’un site Wordpress',
              qty: 5,
              price: 450.0
            },
            {
              description: 'Hébergement annuel',
              qty: 1,
              price: 250.0
            }
          ],
          discount: 0.0,
          paid: 0.0,
          totalHT: 3400,
          tva: 20,
          totalTTC: 4080
        }
      ]
    }
  }
}
</script>
