<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma fiche produit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
</head>
<body>
  <div id="app" class="container py-5">
    <h1 class="h2 mb-4 border-bottom pb-2">Ma fiche produit</h1>
    <main>
      <section>
        <div></div>
        <article class="card shadow border-2" :class="{ 'border-success-subtle': paidAmount >= priceHT, 'border-danger-subtle': paidAmount < priceHT  }">
          <div class="d-md-flex align-items-start" style="gap: 15px;">
            <img style="width: 240px" class="img-fluid rounded-md-start" :src="imageSrc" />
            <div class="card-body">
              <h2 class="h4 text-primary">{{name}}</h2>
              <div class="mb-1" v-html="description"></div>
              <div>Tarif HT: 
                <template v-if="discountPercent > 0">
                  <strike>{{ priceHT.toFixed(2) }} € HT</strike>&nbsp;
                  <strong class="text-success">{{ promoPriceHT.toFixed(2) }} € HT</strong>
                </template>
                  <strong v-else>{{priceHT.toFixed(2)}} € HT</strong>
                - payé : {{ paidAmount.toFixed(2) }} € - <strong>Reste Dû : {{ restDue }}</strong></div>
              <div>Acheté  par {{ fullName }}, le: {{ dateFormated }}, par <em>{{ clientFullName }}</em></div>
              <ul class="list-group mt-2">
                <li class="list-group-item" v-for="(option, index) in options" :key="option.id" @mouseenter="displayImage(option.image)" @mouseleave="displayImage(image)">
                  option {{index + 1}}: {{option.name }} - {{option.priceHT }} € HT
                </li>
              </ul>
              <!-- quantité et prix -->
              <div class="row mt-2">
                <div class="col-6 col-lg-3">
                  <!-- input form -->
                  <label for="quantity" class="form-label mb-1">Quantité:</label>
                  <div class="input-group mb-3">
                    <input 
                      v-model.number="quantity"
                      type="number"
                      class="form-control"
                      id="quantity"
                      placeholder="Quantité"
                      min="1"
                      max="10"
                      @change="quantity = quantity >= 10 ? 10 : quantity <= 1 ? 1 : quantity"
                    />
                    <span class="input-group-text">unité<span v-if="quantity > 1">s</span></span>
                  </div>
                </div>
                <div class="col-6 col-lg-4 offset-lg-5">
                  <ul class="list-group">
                    <li class="list-group-item">total HT: <strong>{{ totalHT.toFixed(2) }} €</strong></li>
                    <li class="list-group-item bg-primary-subtle">TOTAL TTC: <strong>{{ totalTTC.toFixed(2) }}€</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </article>
      </section>
    </main>
  </div>
  
  
  <!-- importmaps pour vue -->
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <!-- notre script -->
  <script type="module" src="js/app.js"></script>
</body>
</html>