<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    
    <div class="container py-5">
      <h1 class="h2 mb-4 border-bottom pb-2">Mon panier</h1>
      <main>
        <section>
          <article class="card shadow border" :class="{
            'border-3 border-success-subtle': paidAmount >= priceHT,
            'border-3 border-danger': paidAmount < priceHT
          }">
            <div class="d-flex align-items-start">

              <img class="img-fluid rounded-start" :src="imageSrc" alt="image produit">
              
              <div class="card-body">
                <h2 class="h4 text-primary">{{name}}</h2>
                <div>{{description}}</div>
                <!-- liste des options -->
                <ul class="list-group my-2">
                  <li 
                    class="list-group-item"
                    v-for="(option, index) in options"
                    :key="option.id"
                    @mouseenter="imageSrc = option.image"
                    @mouseleave="imageSrc = image"
                  >
                    option {{index + 1}}: {{ option.name }} - {{ option.priceHT }} € HT
                  </li>
                </ul>
                <!-- condition de rendu : -->
                <div>
                  <span :class="{ 'text-decoration-line-through': discountPercent > 0 }">Tarif HT: {{ priceHT.toFixed(2) }} € HT</span>&nbsp;
                  <strong v-if="discountPercent > 0" class="text-success">{{ promoPriceHT.toFixed(2) }} € HT </strong>
                  <!-- autre syntaxe exemple -->
                  <!--
                    <br>
                      <template v-if="discountPercent > 0">
                      <span class="text-decoration-line-through">Tarif HT: {{ priceHT.toFixed(2) }} € HT</span>&nbsp;
                      <strong class="text-success">{{ promoPriceHT.toFixed(2) }} € HT </strong>
                    </template>
                    <span v-else>Tarif HT: {{ priceHT.toFixed(2) }} € HT</span>&nbsp;
                  <br> -->
                  <!-- fin autre syntaxe exemple -->
                  
                  - payé : {{ paidAmount.toFixed(2) }} € - <strong>Reste Dû : {{ restDue.toFixed(2) }} €</strong></div>
                <div>Acheté le: {{ dateFormated }}, par <em>{{ clientFullName }}</em></div>
                
              </div>
            </div>
          </article>

          <div class="row mt-2">
            <div class="col-6-col-lg-3">
              <label for="quantity" class="form-label mb-1">Quantité:</label>
              <div class="input-group mb-3">
                <input 
                  v-model.number="quantity"
                  type="number"
                  class="form-control"
                  id="quantity"
                  placeholder="Quantité"
                  min="1"
                  max="10"
                  @change="quantity = quantity >= 10 ? 10 : quantity <= 1 ? 1 : quantity"
                />
                <span class="input-group-text">unité<span v-if="quantity > 1">s</span></span>
              </div>
            </div>
            <div class="col-6 col-lg-4 offset-lg-5">
              <ul class="list-group">
                <li class="list-group-item">total HT: <strong>{{ totalPanierHT.toFixed(2) }} €</strong></li>
                <li class="list-group-item bg-primary-subtle">TOTAL TTC: <strong>{{ totalPanierTTC.toFixed(2) }}€</strong></li>
              </ul>
            </div>
          </div>
        </section>
      </main>
    </div>

  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>