<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="mb-4">VueJS : Binding d'attributs</h1>

    <p>Les 2 atouts majeurs de vue sont :</p>
    <ul>
      <li>
        <strong>Rendu déclaratif :</strong> Vue étend le HTML standard avec une syntaxe de modèle qui nous permet de décrire de manière déclarative la sortie HTML en fonction de l'état du JavaScript.
      </li>
      <li>
      <strong>Réactivité :</strong> Vue suit automatiquement les changements d'état JavaScript et met à jour efficacement le DOM lorsque des changements se produisent.
      </li>
    </ul>
    
    <div id="app">
      <!-- data binding d'attribut simple (texte ou number) -->
      <h1>{{ name }}</h1>
      <p>{{ count }}</p>
      <p>{{ online }}</p>
      <!-- data binding d'attribut d'objet ou de tableau -->
      <p> {{ monJedi }}</p>
      <p> {{ monJedi.nom }}</p>
      <p> {{ monJedi.skills }}</p>
      <p> {{ monJedi.skills[0] }}</p>

      <button class="btn btn-secondary" v-on:click="updateCount()">
        count me
      </button>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>