<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>définition :</h1>
    <p>Vue (prononcé /vjuː/, comme view) est un framework JavaScript pour la construction d'interfaces utilisateur. 
      Il s'appuie sur l'HTML, le CSS et le JavaScript standard et fournit un modèle de programmation déclaratif et basé sur des composants qui vous aide à développer efficacement des interfaces utilisateur, 
      qu'elles soient simples ou complexes.</p>

    <p>La magie opère... les propriétés HTML deviennent dynamiques dans le template !</p>

    <div id="app">
      <!-- data binding d'attribut simple (texte ou number) -->
      <h1>{{ title }}</h1>
      <p>{{ year }}</p>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>