<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .imgW {
      display: block;
      width: 80px;
      height: auto;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="container">
      <h2>Compteur: {{ count }}</h2>
      <div class="btn-group mb-5">
        <!-- v-on:click ou @click => ce sont des écouteurs d'événement -->
        <button class="btn btn-outline-primary px-5" v-on:click="onMinusCount()">-</button>
        <button class="btn btn-outline-primary px-5" @click="onAddCount()">+</button>
      </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>