<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Rendu de listes et boucles</h1>
    <p>Nous pouvons utiliser la directive <code>v-for</code> pour obtenir une liste d'éléments basée sur un tableau. La directive <code>v-for</code> requiert une syntaxe spéciale sous la forme <code>item in items</code>, 
      où items est le tableau de données source et item est un alias pour l'élément du tableau sur lequel on itère.</p>
    <p>Il est important de toujours maintenir une 'clé unique' <code>key</code> afin que VueJs maintienne à jour les objets du DOM itérés, lors de changement de valeurs à l'intérieur de la boucle.</p>
    <p><a href="https://vuejs.org/guide/essentials/list.html" target="blank">voir la doc</a></p>

    <div id="app">
      <h2>Boucles sur un <code>array</code></h2>

      <!-- directive v-for: avec obligatoirement key: permet de boucler sur des données tableau -->
      <!-- on ne peut pas mettre de v-if avec un v-for -->
      <ul class="list-group">
        <li v-for="(detail, index) in details" :key="index" class="list-group-item">
          <span class="badge bg-secondary">{{ index + 1 }}</span> - {{ detail }}
        </li>
      </ul>

      <h2>Boucles sur un <code>object</code></h2>
      <ul class="list-group">
        <li v-for="(value, index) of myObject" :key="`mon-objet-${index}`" class="list-group-item">
          <span class="badge bg-secondary">{{ index }}</span> - {{ value }}
        </li>
      </ul>

      <h2>Boucles sur un <code>range</code></h2>
      <ul class="list-group">
        <li v-for="n in 10" class="list-group-item">
          {{ n }}
        </li>
      </ul>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>