<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Rendu Conditionnel</h1>
    <p>La directive <code>v-if</code> est utilisée pour effectuer un rendu conditionnel d'un bloc. Le bloc ne sera rendu que si l'expression de la directive renvoie une valeur vraie.</p>
    <p>Comme en javascript, il existe aussi les variantes <code>v-else</code> et <code>v-else-if</code>.</p>
    <p><a href="https://vuejs.org/guide/essentials/conditional.html" target="blank">voir la doc</a></p>
    <div id="app">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5" v-show="active && product.image">
                <!-- image ici -->
                <img 
                  class="card-img"
                  :src="product.image"
                  :alt="product.name"
                  :title="`note du produit: ${ product.rating }`"
                />
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">{{ product.name }}</h3>
                  <p class="card-text">{{ description }}</p>
                  <p class="fw-bold">rating: {{ product.rating }}</p>

                  <!-- Conditions: -->
                  <!-- directive v-if / v-else-if / v-else : directive conditionnel -->
                  <p v-if="product.rating < 3">Note basse (-de 3)</p>
                  <p v-else-if="product.rating >= 3 && product.rating < 5">Note moyenne (de 3 à 4)</p>
                  <p v-else>Excellente note (5)</p>

                  <!-- Condition avec un ternaire -->
                  <p>Stock: {{ product.stock > 50 ? `en stock (${product.stock})`: 'bientôt en rupture' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>