<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .imgW {
      display: block;
      width: 80px;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Les événements en VueJS</h1>
    <p>Les événements permettent d'écouter les actions de l'utilisateur (par exemple click sur un bouton ou saisie d'un formulaire. Les événements déclenchent une action JavaScript qui peut soit se trouver directement dans le template, ou faire référence à une fonction qui se trouve dans les <code>methods</code> du controleur.</p>
    
    <div id="app">
      <h2>Compteur: {{ count }}</h2>
      <div class="btn-group mb-5">
        <!-- v-on:click ou @click => ce sont des écouteurs d'événement -->
        <button class="btn btn-outline-primary px-5" v-on:click="onMinusCount()">-</button>
        <button class="btn btn-outline-primary px-5" @click="onAddCount()">+</button>
      </div>

      <p><a href="https://www.google.com" @click.prevent="onAddCount()">Aller sur google</a></p>

      <div class="row">
        <div class="col-2">
          <div v-for="variant in product.variants" :key="variant.id" style="width: 80px">
            <img 
              @mouseenter="onUpdateImageVariant(variant.variantImage, variant.id)"
              :src="variant.variantImage"
              :alt="variant.variantColor"
              class="imgW" />
            
             <p class="text-center" :class="{'fw-bold' : selectedId === variant.id }">
              {{ variant.variantColor }}
            </p>
          </div>
        </div>
        <div class="col-6">
          <img :src="product.image" alt="Exemple product">
        </div>
      </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>