<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intégration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .imgW {
      display: block;
      width: 80px;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container py-5">
    <h1>Formulaires</h1>
    
    <p>Lorsque l'on utilise des formulaires sur le frontend, 
    il est souvent nécessaire de synchroniser l'état des éléments d'entrée 
    du formulaire avec l'état correspondant en JavaScript. 
    Il peut être fastidieux d'établir manuellement des liaisons de valeurs 
    et des récepteurs d'événements de changement:</p>

    <div id="app">
      <!-- en binding d'attribut et avec un event input -->
      <input 
        class="form-control"
        :value="message"
        @input="message = $event.target.value"
      />

      <!-- avec v-model -->
      <p>La propriété v-model nous simplifie le travail avec un résultat est équivalent:</p>
      <!-- attention pas de signe ":" ici !!! -->
      <input class="mt-2 form-control" v-model.number="message" />
      
      <p class="mt-5">{{message}} / type:{{ typeof(message) }}</p>

      <h3>Autres exemples :</h3>
      
      <h4>Checkbox et radio</h4>
      <div class="mb-3">
        <input class="form-check-inline" type="checkbox" id="checkbox" v-model="debug" />
        <label class="form-label" for="checkbox">Debug</label>
       </div>

       <div class="mb-3">
        <input class="form-check-inline" type="radio" id="radio" v-model="gender" value="H" />
        <label class="form-label" for="radio">H</label>
       </div>
       <div class="mb-3">
        <input class="form-check-inline" type="radio" id="radio" v-model="gender" value="F" />
        <label class="form-label" for="radio">F</label>
       </div>
       <div class="mb-3">
        <input class="form-check-inline" type="radio" id="radio" v-model="gender" value="A" />
        <label class="form-label" for="radio">A</label>
       </div>

       <h4>Select</h4>

       <select v-model="selectedValue" class="form-select" aria-label="Choisissez...">
        <option v-for="option in options" :value="option.value">{{ option.text }}</option>
      </select>

      <p>Option sélectionnée : <span v-if="selectedValue && selectedValue.nom">{{ selectedValue.nom }} {{ selectedValue.prenom }}</span></p>
      
      <h4>Textarea</h4>

      <Textarea class="form-control" v-model.trim="message"></Textarea>
      
      <p>&nbsp;</p>

      <h4>Soumission d'un formulaire avec <code>@submit</code></h4>
      <form class="my-5" @submit.prevent="onSubmit()">
        <input type="text" v-model="message" class="form-control" />
        <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
      </form>

       <pre v-if="debug" class="card p-2">
message: {{ message }}
count: {{ count }}
debug: {{ debug }}
gender: {{ gender }}
       </pre>



    </div>
  </div>
  <!-- inclusion du notre script vuejs en mode "module" -->
  <script type="module" src="js/app.js"></script>
</body>
</html>